<h3>List View</h3>

<table class="table table-bordered">
    <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Image</th>
        <th>Action</th>
    </tr>

    {{!-- Vong lap --}}
    {{#each users}}

    <tr>
        <td>{{this.fullName}}</td>
        <td>{{this.email}}</td>
        <td>{{this.password}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.address}}</td>
        <td><img src="/Images/{{this.image}}" style="width: 100px; height: 100px;" alt="Product Image"></td>
        <td>
            <a href="/user/edit/{{this._id}}" class="btn btn-primary btn-sm"> Edit </a>
            <a href="/user/del/{{this._id}}" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm">
                Delete </a>
        </td>
    </tr>

    {{/each}}
</table>

<a href="/user/" class="btn btn-primary"> Add User </a>